.product_item_content{
    flex-flow: column;   
    max-width: 160px; 
    margin-bottom: 20px;
}

.product_item_image  {
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    padding: 2px;
}

.product_item_image img {
    border-radius: 10px;
}


.product_item_name{
    text-align: left;
    font-size: 14px;
}

.product_item_price{
    text-align: left;
    font-size: 14px;
    color: blue;
}
